@charset "utf-8";

html,body {
background: #BABABA;
margin:0;
padding:0;
}

body {
font-family:"Trebuchet MS", Helvetica, sans-serif;
/* "trebuchet ms", "Lucida Sans Unicode", "LucidaGrande", Verdana, Sans-serif; */
font-size:98%;
text-align:left;
}


h1 {
}


ul {
list-style: circle;
overflow: hidden; /* This mysteriously fixes the problem of incorrectly indented bullets next to a "float:left" */
}

a:link {
color:blue;
}
a:visited {
color:purple;
}
/*
a:hover {
color:#333;
background-color:transparent;
text-decoration:none;
}*/

#panel {
background: white;
margin: 0 auto;
width: 800px;
border-style:solid;
border-color: white;
}

#content {
margin: 20px 30px;
font-size: 95%;
}

#header {
}

.address {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 95%;
}

.section_head {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 150%;
width: 100%;
background: #899ac9;
padding: 2px;
text-align: center;
color: white;
border-right: 2px solid gray;
border-bottom: 2px solid gray;
}

.subsection_head {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 150%;
color: green;
}

.title {
font-style: italic;
color: green;
}
.place {
font-weight: bold;
}
.highlight {
font-weight: bold;
color: #ff6500;
}



/* ------------------------------ menu ------------------------------ */
.menu ul
{
list-style: none;
padding: 0 0;
margin: 0;
}

.menu li
{
float: left;
margin: 0 0;
font-size: 1.1em;
}

.menu li a
{
background: url(images/blend-gray.gif) repeat-x;
height: 26px;
line-height: 26px;
float: left;
width: 157px;
/*width: 196px;*/
display: block;
border-bottom: 1px solid #999;
border-right: 1px solid #999;
border-left: 1px solid #CCC;
border-top: 1px solid #CCC;
color: black;
text-decoration: none;
text-align: center;
}HTML

/* Hide from IE5-Mac \*/
.menu li a
{
float: none
}
/* End hide */

.menu
{
width: 100%;
text-align: center
}

.menu li a:hover {
    background: #BCB39F url(images/blend-green.gif) repeat-x;
}

.menu .active a {
    background: #BCB39F url(images/blend-blue.gif) repeat-x;
}



/* ------------------------------ footer ------------------------------ */

#footer {
	width: 100%;
    padding: 8px 0;
    background: darkgray;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}




